.card {
  border-radius: 16px;
  border: none;
}

.card .display-6 {
  font-size: 2.2rem;
}

canvas {
  max-height: 300px;
}

@media (max-width: 767.98px) {
  .card .display-6 {
    font-size: 1.8rem;
  }
  canvas {
    max-height: 200px;
  }
}